<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marscss | <%= current_page.data.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <%= stylesheet_pack_tag 'application' %>

    <% if example = current_page.data.example %>
    <%= stylesheet_pack_tag example.tr('/-', '_').camelize(:lower) %>
    <% end %>
    <% if (class_active = current_page.metadata[:page][:css].to_s) %>
      <% class_active.split(',').map(&:lstrip).each do |item| %>
        <%= stylesheet_pack_tag item %>
      <% end %>
    <% end %>

    <%= javascript_pack_tag 'manifest' %>
    <%= javascript_pack_tag 'vendor' %>
  </head>
  <body class="<%= current_page.data.body %> <%= current_page.options[:layout] %>">
    <%= partial 'partials/shapes' %>
    <%= partial 'partials/header' %>
    <div class="responsive-menu">
      <%= partial 'partials/sidebar-menu' %>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
    <%= partial 'partials/footer' %>
    <%= javascript_pack_tag 'body' %>
  </body>
</html>
